#define IDM_MENU 10000
#define IDM_OPEN 10002
#define IDM_SAVE 10003
#define IDM_MODE 10004
#define IDM_FILE_EXIT 10001
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "L&oad",IDM_OPEN
    MENUITEM "S&ave",IDM_SAVE
  END
  MENUITEM "M&ODE",IDM_MODE
  MENUITEM "E&xit",IDM_FILE_EXIT
END
