#define IDD_DIALOG 1000
#define IDC_BOARD 1001
IDD_DIALOG DIALOGEX 6,6,189,307
CAPTION "Flappy Bird"
FONT 8,"MS Sans Serif",0,0
CLASS "DLGCLASS"
STYLE 0x10CA0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_BOARD,"Static",0x50000004,-2,-2,193,311,0x00000200
END
